{% load static %}
<footer>
    <div class="container pt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptas ab quasi ut sit. Veniam ipsum dolorum, et voluptates consequuntur libero, quod nisi fuga laboriosam numquam debitis totam eligendi! Quos, itaque amet! Tempora ad eaque ipsum inventore consequatur quos minima fuga soluta, modi quibusdam fugiat unde repellendus deserunt totam mollitia reiciendis ex maxime nulla q
        rerum quia reprehenderit nihil officia. Temporibus, pariatur!
    </div>
</footer>