{% extends "index.html" %} {% block title %} services {% endblock title %} {%block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet,
        perferendis odio dignissimos quos voluptas numquam maiores quidem ex
        porro tenetur nemo nisi autem facere maxime quia ipsam a modi commodi
        harum. Modi impedit illum quibusdam esse temporibus sunt commodi nobis
        provident a dicta. Necessitatibus incidunt error sapiente quia maiores
        mollitia dolores accusantium alias, impedit blanditiis nihil, optio
        dolor quo minima corrupti tempora repellendus saepe ad vero, facilis
        quaerat. Quo et distinctio laudantium exercitationem, quidem rerum
        ratione obcaecati nostrum, eum, quod sunt iusto. Qui consectetur alias
        magni minima dolorem optio asperiores officiis? In, tempore. Hic ex
        incidunt odit, recusandae adipisci, nulla mollitia maxime itaque autem
        at, et reprehenderit. Voluptatibus sit perferendis libero expedita
        doloribus suscipit maiores, sunt impedit autem porro quidem, facere
        nulla facilis sint amet? Distinctio maiores ullam labore. Voluptates
        autem sunt tempore? Consequatur odit repellat praesentium excepturi!
        Velit, voluptate nesciunt ea necessitatibus dolor officia quo dolore
        rerum, facilis veritatis voluptatibus corrupti perspiciatis pariatur
        laboriosam. Inventore ullam, quo tempore dolore iusto deserunt dolorum
        minima repellendus, cum vitae eum corrupti illo tempora laudantium
        laborum, architecto atque reiciendis quae! Enim adipisci sunt, excepturi
        architecto rerum suscipit molestiae veritatis totam, accusamus, harum
        sint ad voluptatem necessitatibus reprehenderit! Voluptatibus dolor nemo
        veniam distinctio. Rerum.
      </p>
    </div>

    <div class="col-lg-12">
      {% for sub in subject %}
      <h5 >{{forloop.revcounter0}} {{sub}}</h5>
      {% endfor %}
    </div>

    <table class="border shadow my-5 text-center">
      <tr class="border">
        <th>Names</th>
        <th>Phones</th>
        <th>Emails</th>
      </tr>

      {% for student in stu_cont %}
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.email}}</td>
      </tr>
      {% endfor %}
    </table>

    {% if num|length > 0 %}
    {% for n in num %} {% if n > 50 %}
    <h4>{{n}}</h4>
    {% endif %} 
    {% endfor %} 
    {% else %} no data 
    {% endif %}
  </div>
</div>

{% endblock body %}
